$main-color: #1A4ED4;
$main-background: #F1F0F0;
$gray-color: #797979;
$light-grey-color: #F5F5F5;

.light_button {
  cursor: pointer;
  border: 1px solid $main-color;
  color: $main-color;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  height: 40px;
  &:hover {
    background: $main-color;
    color: white;
  }
}
